$color-black: #000;
$color-white: #fff;


///////////////////////////
$color-primary: #8200ff;
$color-light-purple: #e6ceff;
$color-dark-gray: #101010;
$color-dark-gray-2: #464646;
$color-light-gray: #848386;
$color-light-gray-2: #ababad;
$color-light-gray-3: #dedede;
$color-light-gray-4: #f7f7f7;

$yellow: #ffcd01;
$yellow2: #ffe688;
$yellow3: #fef6d4;

$color-blue: #2d9fe0;
$color-red: #e32c62;
$color-orange: #f56d20;
$color-green: #7ada47;

///////////////////////////


$color-secondary: #003F6F;
$color-blue-dark: #353744;
$color-blue-dark-2: #3A3A46;
$color-blue-dark-3: #2a2d39;
$color-blue-light-1: #69ABDC;
$color-blue-light-2: #C7D7E3;

$color-green-1: #004B4F;
$color-green-2: #2ECACE;
$color-green-3: #016a70;

$color-gray: #3F3F3F;
$color-gray-2: #43485B;
$color-gray-3: #585E76;

// Information
$color-error: $color-red;
$color-warning: $color-orange;
$color-success: $color-green;
$color-info: $color-blue;

$colors: (
	'primary': $color-primary,
	'secondary': $color-secondary,
	'black': $color-black,
	'white': $color-white,
	'blue': $color-blue-light-1,
	'gray': $color-gray,
	'gray-light': $color-light-gray,
	'error': $color-error,
	'warning': $color-warning,
	'success': $color-success,
	'info': $color-info,
);

$colors-message: (
    error: $color-error,
    warning: $color-warning,
    success: $color-success,
    info: $color-info,
);