@import "../mixins/text";

// Montserrat
$montserrat-path: '../../../fonts/montserrat/Montserrat-VariableFont_wght';
@include variable-font-face("Montserrat", $montserrat-path, 100 900);

// Global variables
$font-size-base: 16px;
$font-montserrat: 'Montserrat', sans-serif;