@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

$spinner-size: calc-rem(32px);

.spinner-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin-top: calc-rem(16px);
    color: $color-white;
    font-family: $font-lato;
  }

  &__inner {
    width: $spinner-size;
    height: $spinner-size;
    border: $border-radius-md solid $color-white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}