.map {
  &__wrapper {
    position: relative;
  }

  &__distance {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: calc-rem(12px) calc-rem(6px);
    color: $color-white;
    background: linear-gradient(169.12deg, $color-green-2 -80%, $color-green-3 100%);
    text-align: center;
    z-index: 99;
  }
  
  &__route {
    margin: calc-rem(16px) 0;
  }
}