//Button mixins
@mixin base-button(
  $color: $color-black,
  $background-color: $color-white,
  $border-color: none
) {
  @if ($border-color == none) {
    $border-color: $background-color;
  }

  color: $color;
  background-color: $background-color;
  border: 2px solid $border-color;
  @include transition((color, background-color, border-color), 0.3s);

  &:hover {
    background-color: darken($background-color, 10%);
    border-color: darken($border-color, 10%);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
		color: $color-light-gray;
		background-color: $color-light-gray-2;
		border-color: $color-light-gray-2;
		
    &:hover {
			color: $color-light-gray;
			background-color: $color-light-gray-2;
			border-color: $color-light-gray-2;
    }
  }
}

// button component
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: 500 calc-rem(16px) $font-montserrat;
  line-height: calc-rem(16px);
  text-align: center;
  padding: $btn-padding-md;
  min-height: $btn-height-md;
  border-radius: $border-radius-pill;

  &-primary,
  &-primary-ghost,
  &-light {
    @extend .btn;
  }

  &-primary {
    @include base-button($color-white, $color-primary);
		box-shadow: 0 calc-rem(2px) calc-rem(1px) rgba($color-black, 0.25);

    &:hover {
      color: $color-white;
    }

    &-ghost {
      @include base-button(
        $color-primary,
        transparent,
        $color-primary
      );
    }
  }

  &-light {
    @include base-button($color-dark-gray-2, $color-white, $color-light-gray-3);
  }

  &-block {
    width: 100%;
  }

  &-stripped {
    font: 400 calc-rem(14px) $font-montserrat;
    line-height: calc-rem(16px);
    background: transparent;
    border: none;
    color: $color-dark-gray-2;
  }

  &-link {
    @include base-button($color-dark-gray-2, transparent, transparent);
  }
}

// based on size
.btn {
  &-sm {
    font-size: calc-rem(14px);
    min-height: $btn-height-sm;
    padding: $btn-padding-sm;
  }

  &-lg {
    min-height: $btn-height-lg;
    padding: $btn-padding-lg;
  }
}