$select-arrow-width: 6px;

.chosen-container {
    font-size: calc-rem(14px);
    font-weight: 500;
    color: $color-black;
    
    &-single .chosen-drop,
    &-single .chosen-single,
    &-multi .chosen-choices li.search-choice {
        border-radius: $border-radius;
    }

    &-single .chosen-single,
    &-multi .chosen-choices {
        display: flex;
        align-items: center;
        height: calc-rem(56px);
        color: $color-primary;
        border: 1px solid $border-color;
        background: $color-white;
        box-shadow: none;
        padding-left: calc-rem(15px);

        & > div > b {
            position: relative;
            background: none;

            &::before {
                content: '';
                position: absolute;
                width: $select-arrow-width;
                height: $select-arrow-width;
                border-bottom: 2px solid $color-primary;
                border-left: 2px solid $color-primary;
                top: 50%;
                right: calc-rem(15px);
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    .chosen-drop {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
        border-color: $border-color;
    }

    .chosen-results {
        margin: 0 calc-rem(15px) calc-rem(15px) 0;
        padding: 0 0 0 calc-rem(15px);

        li.active-result {
            padding: calc-rem(5px) 0;
            margin: calc-rem(4px) 0;

            &.highlighted {
                color: $color-primary;
                background-color: transparent;
            }

            &.result-selected {
                color: $color-primary;
            }
        }
    }

    &-active {
        &.chosen-with-drop {
            .chosen-single,
            .chosen-choices {
                background: $color-white;
                border-color: $border-color;
                box-shadow: none;
            }
        }
    }

    .chosen-results li.highlighted {
        background-color: $color-primary;
        background-image: none;
        color: $color-white;
    }

    &.chosen-container-multi {
        .chosen-choices {
            .search-field {
                width: 100%;
            }

            &::after {
                content: '';
                position: absolute;
                //background: $icon-search no-repeat center;
                background-size: contain;
                width: calc-rem(15px);
                height: calc-rem(15px);
                top: 50%;
                right: calc-rem(20px);
                transform: translateY(-50%);
            }
        }
    }
}

.select-with-label {
    position: relative;

    label {
        position: absolute;
        top: calc-rem(12px);
        left: calc-rem(15px);
        font-size: calc-rem(10px);
        z-index: 2;
    }
    .chosen-container {
        &-single .chosen-single,
        &-multi .chosen-choices {
            span {
                color: $color-black;
                margin-top: calc-rem(12px);
            }
        }
    }
}