h1 {
    font: 700 calc-rem(60px) $font-primary;
    letter-spacing: -0.88px;
    line-height: calc-rem(64px);

    @include media-breakpoint-down(md) {
        font-size: calc-rem(36px);
        letter-spacing: -0.53px;
        line-height: calc-rem(40px);
    }
}

h2 {
    font: 500 calc-rem(32px) $font-primary;
    letter-spacing: -0.47px;
    line-height: calc-rem(40px);

    @include media-breakpoint-down(md) {
        font-size: calc-rem(26px);
        letter-spacing: -0.38px;
        line-height: calc-rem(34px);
    }
}

h3 {
    font: 500 calc-rem(26px) $font-primary;
    letter-spacing: -0.38px;
    line-height: calc-rem(32px);

    @include media-breakpoint-down(md) {
        font-size: calc-rem(26px);
        letter-spacing: -0.38px;
        line-height: calc-rem(32px);
    }
}

h4 {
    font: 700 calc-rem(22px) $font-primary;
    letter-spacing: -0.32px;
    line-height: calc-rem(48px);
}

h5 {
    font: 500 calc-rem(18px) $font-primary;
    letter-spacing: -0.13px;
    line-height: calc-rem(32px);
}

h6 {
    font: 600 1rem $font-primary;
    letter-spacing: -0.11px;
    line-height: calc-rem(32px);

    &.h6-sm {
        font-size: calc-rem(12px);
        line-height: calc-rem(16px);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $color-black;
}