body {
  font: 400 $font-size-base $font-lato;
  background-color: $color-blue-dark;
  box-sizing: border-box;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}