.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $color-gray-3;
	border-radius: $border-radius-xl;
	box-shadow: calc-rem(3px) calc-rem(4px) calc-rem(45px) rgba($color-black, 0.25);

	&__wrapper {
		.card {
			margin: calc-rem(20px) 0;
		}
	}

	&__section {
		padding: calc-rem(14px) calc-rem(40px);

		&--border-dashed {
			border-bottom: 1px dashed rgba($color-white, 0.18);
		}
	}

  &__decorated {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc-rem(64px);
    padding-left: 20%;
    padding-right: 20%;
    cursor: pointer;
  
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color-white, .04);
      border-top-left-radius: 90%;
      border-bottom-right-radius: 90%;
    }
  
    &-dash {
      flex: 1;
      border-bottom: 1px dashed $color-white;
      margin: 0 calc-rem(10px);
    }
  
    p {
      color: $color-white;
      font-size: calc-rem(18px);
      line-height: calc-rem(22px);
      font-weight: 400;
      font-family: $font-lato;
      text-transform: uppercase;
    }
  
    &--active {
      background: linear-gradient(169.12deg, $color-green-2 -80%, $color-green-3 100%);
  
      &::before {
        background-color: rgba($color-white, .1);
      }
    }
  }

	&--dark {
		background: linear-gradient(180deg, $color-gray-2 4.56%, $color-blue-dark-3 116.16%)
	}

	&--gray {
		background: linear-gradient(180deg, $color-gray-2 -8.9%, rgba($color-gray-2, 0.49) 122.95%);
	}

	&--stats {
		border-top-left-radius: $border-radius-md;
		border-top-right-radius: $border-radius-md;
	}

	&--expandable {
		.card__body {
			display: none;
		}

		&.active {
			.card__body {
				display: block;
			}
		}
	}

}
