.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-blue-light-2;

    &-header {
        padding: calc-rem(24px);

        &-date {
            background-color: $color-primary;
            color: $color-white;
            display: inline-block;
            padding: calc-rem(10px) calc-rem(15px);
            border-radius: $border-color;
            font-size: calc-rem(12px);
            font-weight: 700;
        }
    }

    &-body {
        margin: calc-rem(16px) 0;
        padding: calc-rem(24px);

        &-title {
            margin-bottom: calc-rem(16px);
            font-weight: 700;
            font-size: calc-rem(28px);
            color: $color-primary;
        }

        &-subtitle {
            margin-bottom: calc-rem(16px);
        }

        &-text p {
            font-size: calc-rem(16px);
            line-height: calc-rem(26px);
            font-weight: 700;
        }

        &-list {
            list-style: none;
            margin-bottom: calc-rem(16px);

            &-item {
                padding: calc-rem(8px) calc-rem(16px);
                border: 1px solid darken($color-white, 10%);
            }
        }
    }

    &-footer {
        margin-top: auto;
    }
}
