.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-gray-3;
    border-radius: $border-radius-xl;
    box-shadow: calc-rem(3px) calc-rem(4px) calc-rem(45px) rgba($color-black, .25);

    &-body {
        margin: calc-rem(16px) 0;
        padding: calc-rem(24px);

        &-text p {
            font-size: calc-rem(16px);
            line-height: calc-rem(26px);
            font-weight: 700;
        }

        &-list {
            list-style: none;
            margin-bottom: calc-rem(16px);

            &-item {
                padding: calc-rem(8px) calc-rem(16px);
                border: 1px solid darken($color-white, 10%);
            }
        }
    }

    &--stats {
        border-top-left-radius: $border-radius-md;
        border-top-right-radius: $border-radius-md;
    }

    &__section {
        padding: calc-rem(14px) calc-rem(40px);

        &--border-dashed {
            border-bottom: 1px dashed rgba($color-white, .18);
        }
    }
}
